<!--
  Generated template for the MonsterInfo page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Monster-Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-card>

<!--Alterar imagem pra do banco de dados-->
    <!--<img src="img/d20-1.jpg" class="center-image"> -->
    <!--<h1>{{mImage}}</h1>-->
<!--<ion-img src={{monsterInfo.image}} class="center-image"></ion-img>-->
    <ion-card-content>

      <!--<ion-spinner *ngIf="monsterInfo.image == {}"></ion-spinner>-->
      <ion-img src={{monsterInfo.image}} class="center-image"></ion-img>
      <ion-spinner></ion-spinner>
      <ion-card-title>
        {{monsterInfo.name}}
      </ion-card-title>
      <p> </p>
      <h2>Description</h2>
      <p>
        {{mDescription.text}}
      </p>
    </ion-card-content>
 <!--Primeiros 3 atributos-->
    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">
          STR: {{mAttributes.str}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          DEX: {{mAttributes.dex}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >
          CON: {{mAttributes.con}}
        </ion-item>
      </ion-col>
    </ion-row>

    <!--<ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
          {{mAttributes.str}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{mAttributes.dex}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
         {{mAttributes.con}}
        </ion-item>
      </ion-col>
    </ion-row>-->

 <!--Outros 3 atributos-->
    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">
          INT: {{mAttributes.int}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          WIS: {{mAttributes.wis}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          CHA: {{mAttributes.cha}}
        </ion-item>
      </ion-col>

    </ion-row>

    <!--<ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
         {{mAttributes.int}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{mAttributes.wis}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{mAttributes.cha}}
        </ion-item>
      </ion-col>
    </ion-row>-->


 <!--Características gerais do Monstro-->
    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">
          HP (Standard)
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          HP (Custom)
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
          {{mHp.standard}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{mHp.custom}}
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col text-center >
        <ion-item clear small color="danger">
          Armor Class
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item  clear small color="danger">
          <!--Nao cabe tudo, pouco espaco pra potencialmente muito texto-->
          Languages
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
          {{monsterInfo.armorClass}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{monsterInfo.languages}}
        </ion-item>
      </ion-col>
    </ion-row>

        <ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">
          Experience
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          Speed (Run)
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
           {{monsterInfo.exp}} XP
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{mSpeed.run}} ft.
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row align-items-center>

      <ion-col text-center>
        <ion-item clear small color="danger">
          Speed (Fly) 
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          Speed (Climb) 
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
           {{mSpeed.fly}} ft.
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{mSpeed.climb}} ft.
        </ion-item>
      </ion-col>
    </ion-row>

     <ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">
          Speed (Burrow)
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          Speed (Swim)
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
            {{mSpeed.burrow}} ft.
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
           {{mSpeed.swim}} ft.
        </ion-item>
      </ion-col>
    </ion-row>

     <h2>General Info</h2>
      <!--<p>
        {{mDescription.info}}
      </p>-->
      <div [innerHTML]="mDescription.info"></div>

      <h2>Actions</h2>
      <ion-card *ngFor="let item of mActions">
        <ion-card-content>
          <ion-card-title>
             {{item.name}}
            </ion-card-title>

          <p>Damage (Standard): {{item.damage.standard}}  | Damage (Custom):  {{item.damage.custom}}</p>
          <!--<p>Details: {{item.details}} </p>-->
          <p>Details:</p>
          <div [innerHTML]="item.details"></div>


        </ion-card-content>
      </ion-card>


  </ion-card>


</ion-content>
