
<!--<ion-header>

  <ion-navbar>
    <ion-title>Race</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>-->

<ion-header>

  <ion-navbar>
    <ion-title>Race</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!--<div [innerHTML]="teste"></div>-->

  <ion-card>
    <ion-card-content>

<ion-img src={{chosenRace.image}}  class="center-image"></ion-img>
<ion-spinner></ion-spinner>
      <ion-card-content>
      <ion-card-title>
       {{chosenRace.name}} 
      </ion-card-title>

      <ion-card-header>
       Speed: {{chosenRace.speed}} ft. 
      </ion-card-header>

      <ion-card>
      <ion-card-content>
      <ion-card-title>
        Bonuses
      </ion-card-title>
      
    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">STR+{{bonuses.str}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">DEX+{{bonuses.dex}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-item clear small color="danger" >CON+{{bonuses.con}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >INT+{{bonuses.int}}</ion-item>
      </ion-col>
    </ion-row>

      <ion-row>
      <ion-col text-center>
        <ion-item clear small color="danger" >WIS+{{bonuses.wis}}</ion-item>
      </ion-col>

        <ion-col text-center>
        <ion-item clear small color="danger" >CHA+{{bonuses.cha}}</ion-item>
      </ion-col>
    </ion-row>

    </ion-card-content>
      </ion-card>

      <ion-card>
      <ion-card-content>
      <ion-card-title>
        General Info
      </ion-card-title>
      <div [innerHTML]="chosenRace.generalInfo"></div>
      <!--<p *ngFor="let item of chosenRace.generalInfo">
        {{item}}
      </p>-->
    </ion-card-content>
      </ion-card>

 <!--Subracas-->
      <ion-card>
      <ion-card-content>
      <ion-card-title>
        Subraces
      </ion-card-title>
      <!--Cada subraca aqui-->
      <ion-card *ngFor="let item of chosenRace.subRace">
      <ion-card-content>
      <ion-card-title>
        {{item.subName}}
      </ion-card-title>

      <div [innerHTML]="item.details"></div>
      <!--<p>
        {{item.details}}
      </p>-->
      
      <!--<ion-card>-->
      <!--<ion-card-content>-->
      <ion-card-title>
        Sub-Bonuses
      </ion-card-title>
      
    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">STR: + {{item.subBonus.str}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-item clear small color="danger">DEX: + {{item.subBonus.dex}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-item clear small color="danger" >CON: + {{item.subBonus.con}}</ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-item clear small color="danger" >INT: + {{item.subBonus.int}}</ion-item>
      </ion-col>
    </ion-row>

      <ion-row>
      <ion-col text-center>
        <ion-item clear small color="danger" >WIS: + {{item.subBonus.wis}}</ion-item>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
        <ion-item clear small color="danger" >CHA: + {{item.subBonus.cha}}</ion-item>
      </ion-col>
    </ion-row>

    <!--</ion-card-content>-->
      <!--</ion-card>-->

    </ion-card-content>
      </ion-card>
      
    </ion-card-content>
      </ion-card>

    </ion-card-content>

    </ion-card-content>
  </ion-card>

</ion-content>

