<ion-header>
  <ion-navbar color = "primary">
    <ion-title style="text-align: center">
      Dice Rolls
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">

<!--Linha 1-->
<ion-row align-items-center> 
  <ion-col> 
    <button style="width: 75px; height: 85px; font-size: 150%;left: 85%; text-align: center" 
    ion-button color="d4Color" (click)='resultRoll(4);'>D4</button>
  </ion-col>
  <ion-col>
    <button style="width: 75px; height: 85px; font-size: 150%;left: 85%; text-align: center" 
    ion-button color="d6Color" (click)='resultRoll(6);'>D6</button>
  </ion-col>
</ion-row>

<!--Linha 2-->
<ion-row align-items-center> 
  <ion-col> 
    <button  style="width: 75px; height: 85px; font-size: 150%; text-align: center" 
    ion-button color="d8Color" (click)='resultRoll(8);'>D8</button>
  </ion-col>
  <ion-col>
    <button style="width: 75px; height: 85px; font-size: 150%;left: 85%; text-align: center" 
    ion-button color="d10Color" (click)='resultRoll(10);'>D10</button>
  </ion-col>
</ion-row>

<!--Linha 3-->
<ion-row align-items-center> 
  <ion-col> 
    <button  style="width: 75px; height: 85px; font-size: 150%; text-align: center" 
    ion-button color="d12Color" (click)='resultRoll(12);'>D12</button>
  </ion-col>
  <ion-col>
    <button style="width: 75px; height: 85px; font-size: 150%;left: 85%; text-align: center" 
    ion-button color="d20Color" (click)='resultRoll(20);'>D20</button>
  </ion-col>
</ion-row>



  <ion-card style="text-align: center">
  <ion-card-header style = "font-size: 200%">
    D{{ dice }}:
  </ion-card-header>
  <!--<ion-card-content class = "resultD4">-->
  <ion-card-content class = "resultRoll" style = "font-size: 200%">
    {{ result }}
  </ion-card-content>
</ion-card>

  <div class="item images-parent">

    <!--"{{dice}}" representa  valor da variavel do dado-->
  <img src="img/d{{dice}}icon.png" class="center-image"> 
  <!--<img src="img/ClericTableFinal.png" class="center-image">-->
  </div>

<!--<img src="img/d4-1.JPG" style="width: 50px; height: 50px" class="center-image">-->

<!--</ion-list>-->


</ion-content>

