<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <ion-list-header>Navigate</ion-list-header>
      <!--<button menuClose ion-item (click)="goHome()">Home</button>
      <button menuClose ion-item (click)="goToTournaments()">Find a Tournament</button>-->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!--<ion-nav [root]="rootPage"></ion-nav>-->
