<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Shop
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="marketItems">
      <ion-segment-button value="armors">
        Armors
      </ion-segment-button>
      <ion-segment-button value="tradeGoods">
        Trade Goods
      </ion-segment-button>
      <ion-segment-button value="weapons">
        Weapons
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getSearchBarItem($event)"></ion-searchbar>
  <div [ngSwitch]="marketItems">
    <!--<ion-grid *ngSwitchCase="'armors'">-->
      <div *ngSwitchCase="'armors'">

        <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Armor Class</th>
            <th>Stealth</th>
            <th>Strength Req.</th>
            <th>Armor Type</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of armorItems">
            <td>{{item.name}}</td>
            <td>{{item.cost.value}} {{item.cost.currency}}</td>
            <td>{{item.armorClass}}</td>
            <td>{{item.stealth}}</td>
            <td>{{item.strength}}</td>
            <td>{{item.armorType}}</td>
            <td>{{item.weight}} lbs.</td>
        </tr>
    </tbody>
</table>

 <!--Titulo com cada elemento de uma 'armor'-->
   <!--<ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">Name</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">Cost</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >Armor Class</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >Stealth</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >Strength Req.</ion-item>
      </ion-col>

        <ion-col text-center>
        <ion-item clear small color="danger" >Armor Type</ion-item>
      </ion-col>

        <ion-col text-center>
        <ion-item clear small color="danger" >Weight</ion-item>
      </ion-col>

    </ion-row>-->

 <!--Cada armor e seus itens preenchidos por ngFor-->
   <!--<ion-row align-items-center *ngFor="let item of armorItems">
      <ion-col text-center>
        <ion-item>{{item.name}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.cost.value}} {{item.cost.currency}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.armorClass}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.stealth}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.strength}}</ion-item>
      </ion-col>

        <ion-col text-center>
        <ion-item>{{item.armorType}}</ion-item>
      </ion-col>

        <ion-col text-center>
        <ion-item>{{item.weight}} lbs.</ion-item>
      </ion-col>

    </ion-row>-->

      </div>
    <!--</ion-grid>-->

    <!--<ion-grid *ngSwitchCase="'tradeGoods'">-->
      <div *ngSwitchCase="'tradeGoods'">

        <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Materials</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tradeGoodItems">
            <td>{{item.name}}</td>
            <td>{{item.cost.value}} {{item.cost.currency}}</td>
            <td>{{item.materials}}</td>
        </tr>
    </tbody>
</table>

    <!--Titulo com cada elemento de uma 'tradeGoods'-->
   <!--<ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">Name</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">Cost</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >Materials</ion-item>
      </ion-col>

    </ion-row>-->

 <!--Cada armor e seus itens preenchidos por ngFor-->
   <!--<ion-row align-items-center *ngFor="let item of tradeGoodItems">
      <ion-col text-center>
        <ion-item>{{item.name}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.cost.value}} {{item.cost.currency}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.materials}}</ion-item>
      </ion-col>

    </ion-row>-->

      </div>
    <!--</ion-grid>-->

    <!--<ion-grid *ngSwitchCase="'weapons'">-->
      <div *ngSwitchCase="'weapons'">

        <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Damage</th>
            <th>Weight</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of weaponItems">
            <td>{{item.name}}</td>
            <td>{{item.cost.value}} {{item.cost.currency}}</td>
            <td>{{item.damage}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.properties}}</td>
        </tr>
    </tbody>
</table>

     <!--Titulo com cada elemento de uma 'weapon'-->
   <!--<ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">Name</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">Cost</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >Damage</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >Weight</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger" >Properties</ion-item>
      </ion-col>

    </ion-row>-->

 <!--Cada weapon e seus itens preenchidos por ngFor-->
   <!--<ion-row align-items-center *ngFor="let item of weaponItems">
      <ion-col text-center>
        <ion-item>{{item.name}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.cost.value}} {{item.cost.currency}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.damage}}</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.weight}} lbs.</ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>{{item.properties}}</ion-item>
      </ion-col>

    </ion-row>      -->

      </div>
    <!--</ion-grid>-->
  </div>
</ion-content>