page-shop {

body {
  font-family: 'Open Sans', sans-serif;
  margin: 30px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
}
td{
    border-top: 1px solid #ddd;
    border: 1px solid #dddddd;
    padding: 4px 8px;
}

th{
    border-top: 1px solid #ddd;
    border: 1px solid #dddddd;
    background-color: #f53d3d;
    color: #FFFFFF;
    padding: 4px 8px;
}
/* Algumas linhas listradas para ficar legal ;) */
tbody tr:nth-child(even) td {
    background-color: #F6B0B0;
}

@media screen and (max-width: 640px) {
    table {
        overflow-x: auto;
        display: block;
    }
}

}

// body {
//   font-family: 'Open Sans', sans-serif;
//   margin: 30px;
// }
// table {
//     border-collapse: collapse;
//     border-spacing: 0;
//     border: 1px solid #bbb;
// }
// td, th {
//     border-top: 1px solid #ddd;
//     padding: 4px 8px;
// }
// /* Algumas linhas listradas para ficar legal ;) */
// tbody tr:nth-child(even) td {
//     background-color: #eee;
// }

// @media screen and (max-width: 640px) {
//     table {
//         overflow-x: auto;
//         display: block;
//     }
// }