<!--
  Generated template for the ClassLevelInfo page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Class Level Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Level: {{allInfo.level}}
      </ion-card-title>


      <div [innerHTML]="allInfo.info"></div>
      <!--<ng-container *ngFor="let item of allInfo.info">
        <div [ngSwitch]="textFormatting(item)">
        <p *ngSwitchCase="true"><b>{{item}}</b></p>
        <p *ngSwitchCase="false">{{item}}</p>
        </div>
      </ng-container>-->

      <!--<p *ngFor="let item of allInfo.info">
        {{item}}
      </p>-->
    </ion-card-content>
  </ion-card>

</ion-content>
