<ion-header>
  <ion-navbar>
    <ion-title>
      Spell Options
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

 <!--Lista de todas as magias por tipo-->
  <ion-list>
    <ion-list-header>
     <h5>Magic Schools</h5>
    </ion-list-header>

<!--0 = abjuration
1 = conjuration
2 = divination
3 = enchantment
4 = evocation
5 = illusion
6 = necromancy
7 = trasmutation-->


<ion-item *ngFor="let item of magicSchools; let i = index">
      <ion-label>{{item.name}}</ion-label>
      <ion-toggle color="secondary" checked={{item.bool}} (ionChange)="toggleMagicSchools(i)"></ion-toggle>
    </ion-item>


  </ion-list>

  <!--Lista de todas as magias por usuario (spellcaster)-->
<ion-list>
    <ion-list-header>
     <h5>Spellcasters</h5>
    </ion-list-header>

<!--0 = bard
1 = cleric
2 = druid
3 = paladin
4 = ranger
5 = sorcerer
6 = warlock
7 = wizard-->

<ion-item *ngFor="let item of spellcasters; let i = index">
      <ion-label>{{item.name}}</ion-label>
      <ion-toggle color="secondary" checked={{item.bool}} (click)="toggleSpellcasters(i)"></ion-toggle>
    </ion-item>

  </ion-list>

<button ion-button (click)="goToFilteredSpells()">Filter</button>

</ion-content>