
  <!--<h1>{{chosenClass.name}}</h1>-->

  <!--<h1>{{chosenClass.proficiency}}</h1>
<div *ngFor="let item of paragraph; let i = index">
  <div [ngSwitch]="item">
  <div *ngSwitchCase="$">
    <p><b> oi </b></p>
  </div>
  <div *ngSwitchDefault>
    <p> {{item}} </p>
  </div>
</div>

</div>-->
  <!--<p *ngFor="let item of testString"> {{item}} </p>-->

<ion-header>

  <ion-navbar>
    <ion-title>Class</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>

<ion-img src={{chosenClass.image}}  class="center-image"></ion-img>
<ion-spinner></ion-spinner>
      <ion-card-content>
      <ion-card-title>
       {{chosenClass.name}} 
      </ion-card-title>

      <!--Preciso mudar esse " 'HP' perdido "-->
      <ion-card-header>
       HP: {{chosenClass.hitDice}} 
      </ion-card-header>

<!--Cartao de Descricao-->
      <ion-card>
      <ion-card-content>
      <ion-card-title>
        Description
      </ion-card-title>
      <p>
        {{chosenClass.description}}
      </p>
    </ion-card-content>
      </ion-card>

 <!--Cartao de proficiencias-->
      <ion-card>
      <ion-card-content>
      <ion-card-title>
        Proficiencies
      </ion-card-title>
      <!--<p *ngFor="let item of chosenClass.proficiency">
        {{item}}
      </p>-->
      <!--<p>
        {{chosenClass.proficiency}}
      </p>-->

      <div [innerHTML]="chosenClass.proficiency"></div>

    </ion-card-content>
      </ion-card>

<!--Cartao dedicado aos levels da classe-->
<ion-card>
    <ion-card-content>
      <ion-card-title>
       Class Progression: 
      </ion-card-title>

      <ion-card *ngFor="let item of chosenClass.progression" (click)="levelInfo(item)">
      <ion-card-content>
      <ion-card-title>
        Level: {{item.level}}
      </ion-card-title>
    </ion-card-content>
      </ion-card>

      <!--<ion-list>
  <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
    {{ item }}
  </button>  
</ion-list>-->

    </ion-card-content>
</ion-card>

    </ion-card-content>

    </ion-card-content>
  </ion-card>


</ion-content>
