<!--
  Generated template for the Monsters page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Monsters</ion-title>
  </ion-navbar>

   <ion-toolbar no-border-top>
    <ion-segment>
      <ion-segment-button *ngFor="let item of filters; let i = index" value={{item.value}} (click)="filter(i)">
        {{item.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

<ion-searchbar (ionInput)="getSearchBarMonsters($event)"></ion-searchbar>

<button ion-item *ngFor="let item of monsters" (click)="goToMonsterInfo(item)">
        {{item.name}}
    </button>

</ion-content>
