<!--
  Generated template for the Spells page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Spells</ion-title>
  </ion-navbar>

   <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="level">
      <!--Talvez "consertar" usando ng-switch para gerar começar com uma opção pressionada ("all")-->
      <ion-segment-button *ngFor="let item of levels; let i = index" value={{item.value}} (click)="filterByLevel(i)">
        Lv: {{item.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
<ion-searchbar (ionInput)="getSearchBarSpells($event)"></ion-searchbar>

<button ion-item *ngFor="let item of filteredSpells" (click)="itemTapped(item)">
        {{item.name}}
    </button>

</ion-content>


