
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Player Guide
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="race">
        Race
      </ion-segment-button>
      <ion-segment-button value="class">
        Class
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'race'">
        <button ion-item *ngFor="let item of races" (click)="raceItemTapped(item)">
            {{item.name}}
        </button>
    </ion-list>
    
    <ion-list *ngSwitchCase="'class'">
      <button ion-item *ngFor="let item of classes" (click)="classItemTapped(item)">
            {{item.name}}
        </button>
    </ion-list>
  </div>
</ion-content>