<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content class="grid-basic-page">

<!--Eu criei 3 colunas para facilitar que o ultimo botao estivesse centralizado-->

<ion-row align-items-center> 
  <ion-col> 
  <ion-item (click)="goToSpells()">
    <ion-img src="img/Spells.png"  class="center-image"></ion-img>
    <p>Spells</p>
  </ion-item>
<!--    <button ion-button (click)="goToSpells()">Spells</button>-->
  </ion-col>
   <ion-col> 
  </ion-col>
  <ion-col>
    <ion-item (click)="goToMonsters()">
    <ion-img src="img/Monsters.png"  class="center-image"></ion-img>
    <p>Monsters</p>
  </ion-item>
<!--    <button ion-button (click)="goToMonsters()">Monsters</button>-->
  </ion-col>
</ion-row>

<ion-row align-items-center> 
  <ion-col> 
  <ion-item (click)="goToShop()">
    <ion-img src="img/Shop.png"  class="center-image"></ion-img>
    <p>Shop</p>
  </ion-item>
<!--    <button ion-button (click)="goToShop()">Shop</button>-->
  </ion-col>
     <ion-col> 
  </ion-col>
  <ion-col>
    <ion-item (click)="goToPlayerGuide()">
    <ion-img src="img/PlayerGuide.png"  class="center-image"></ion-img>
    <p>Player Guide</p>
  </ion-item>
<!--    <button ion-button (click)="goToPlayerGuide()">Player Guide</button>-->
  </ion-col>
</ion-row>

<ion-row align-items-center> 
  <ion-col> 
  </ion-col>
<!--<button ion-button (click)="goToDice()">Dice Rolls</button>-->
   <ion-col> 
    <ion-item (click)="goToDice()">
    <ion-img src="img/DiceRolls.png"  class="center-image"></ion-img>
    <p>Dice Rolls</p>
  </ion-item>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row>

<!--<button ion-button (click)="goToDice()"> Dice Rolls</button>-->
</ion-content>

