<!--
  Generated template for the SpellInfo page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Spell-Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!--<h2>{{spellInfo.name}}</h2>-->

<ion-card>
  <ion-card-header>
    {{spellInfo.name}}
  </ion-card-header>
  <ion-card-content>
    <!--{{spellInfo.description}}-->
    <div [innerHTML]="spellInfo.description"></div>
  </ion-card-content>
</ion-card>

 <!--<ion-content class="grid-basic-page">-->

<ion-card>
  <ion-card-content>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">
          Level
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          School
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
          {{spellInfo.level}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{schoolName}}
        </ion-item>
      </ion-col>
    </ion-row>

<!--<ion-row align-items-center> 
  <ion-col>     
<ion-card>
  <ion-card-header>
    Level:
  </ion-card-header>
  <ion-card-content>
    {{spellInfo.level}}
  </ion-card-content>
</ion-card>
  </ion-col>

   <ion-col> 
<ion-card>
  <ion-card-header>
    School:
  </ion-card-header>
  <ion-card-content>
    {{schoolName}}
  </ion-card-content>
</ion-card>
  </ion-col>
</ion-row>-->

<ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">
          Casting Time
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item clear small color="danger">
          Range
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
          {{spellInfo.castingTime}}
        </ion-item>
      </ion-col>

      <ion-col text-center>
        <ion-item>
          {{spellInfo.range}} ft.
        </ion-item>
      </ion-col>
    </ion-row>

<!--<ion-row>
  <ion-col>
<ion-card>
  <ion-card-header>
    Casting Time:
  </ion-card-header>
  <ion-card-content>
    {{spellInfo.castingTime}}
  </ion-card-content>
</ion-card>
  </ion-col>

   <ion-col> 
<ion-card>
  <ion-card-header>
    Range:
  </ion-card-header>
  <ion-card-content>
    {{spellInfo.range}} ft.
  </ion-card-content>
</ion-card>
  </ion-col>
</ion-row>-->

<ion-row align-items-center>
      <ion-col text-center>
        <ion-item clear small color="danger">
          Duration
        </ion-item>
      </ion-col>
</ion-row>

    <ion-row align-items-center>
      <ion-col text-center>
        <ion-item>
          {{spellInfo.duration}}
        </ion-item>
      </ion-col>
    </ion-row>

<ion-row>
      <ion-col text-center>
        <ion-item clear small color="danger">
          Spellcasters
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-card>
          <ion-card-content>
          {{spellcastersName}}
          </ion-card-content>
        </ion-card>
        <!--</ion-item>-->
      </ion-col>
    </ion-row>

<!--<ion-row>
     <ion-col> 
<ion-card>
  <ion-card-header>
    Duration:
  </ion-card-header>
  <ion-card-content>
    {{spellInfo.duration}}
  </ion-card-content>
</ion-card>
  </ion-col>
</ion-row>

<ion-row align-items-center> 
  <ion-col>     
<ion-card>
  <ion-card-header>
    Spellcasters:
  </ion-card-header>
  <ion-card-content>
    {{spellcastersName}}
  </ion-card-content>
</ion-card>
  </ion-col>
</ion-row>-->

  </ion-card-content>
</ion-card>
<!--</ion-content>-->

</ion-content>
