page-spell-info {

}

// .grid-basic-page {

//   ion-col div {
//     background-color: #F9FAFB;
//     padding: 5px;
//     // border: 1px solid #ddd;
//     border-radius: 2px;
//     text-align: center;
//   }

// }